<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQDeabFD-YIl-mBp7ASrgKPdNT9vWIhD8</string>
	<key>GCM_SENDER_ID</key>
	<string>101254347872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deschampsquentin.dtcompanion</string>
	<key>PROJECT_ID</key>
	<string>dtcompanion-ddeac</string>
	<key>STORAGE_BUCKET</key>
	<string>dtcompanion-ddeac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101254347872:ios:a2d0f07f4bb4f9ea37d705</string>
</dict>
</plist>